:root {
    --laranja: #DC7E43;
    --cinzaLogo: #3C3C3B;
    --branco: #FFFFFF;
    --cinzaHeader: #F2F2F2CC;
    --cinzaBgLinks: #1D1D1D;
    --cinzaBgSections: #272727;
    --bgCards: #2B2B2BB2;
    --fonteTitulo: 'Analogist';
    --fonteTexto: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Analogist';
    src: url('../fonts/Analogist.otf') format('opentype'), url('../fonts/Analogist.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--laranja);
}

.areas {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cinzaLogo);
    border-bottom: 2px solid var(--branco);
}

.containerAreas {
    display: flex;
    margin: 2em 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    gap: 3em;
}

.areasIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.areasIntro h1 {
    text-transform: uppercase;
    font-family: var(--fonteTexto);
    font-weight: 800;
    font-size: 1.1em;
    color: var(--laranja);
}

.areasIntro h3 {
    font-family: var(--fonteTitulo);
    font-size: 2em;
    color: var(--branco);
    font-weight: 400;
}

.areasItems {
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemsCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: var(--bgCards);
    border-radius: 25px;
    border-top: 1px solid var(--laranja);
    border-bottom: 1px solid var(--branco);
}

.itemsGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    gap: 1.5em;
}

.cardServico {
    color: var(--branco);
    font-family: var(--fonteTitulo);
    font-size: 2em;
    font-weight: 400;
}

.cardTexto {
    text-align: center;
    color: var(--branco);
    font-family: var(--fonteTexto);
    font-size: 16px;
    font-weight: 400;
}

@media screen and (min-width: 421px) {

    .containerAreas {
        width: 75%;
        margin: 5em 0;
    }

    .areasItems {
        width: 90%;
    }
    
}

@media screen and (min-width: 769px) {

    .containerAreas {
        width: 90%;
        height: auto;
    }

    .areasIntro h3 {
        font-size: 2.5em;
    }

    .itemsCards {
        width: 22em;
    }

    .areasItems {
        flex-direction: row;
        gap: 5em;
    }

    .cardTexto {
        display: flex;
        text-align: start;
        justify-content: flex-start;
    }

}